body {
	font-family: "Lato", sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 50px;
}

.share-buttons li {
  display: inline;
}

.share-buttons {
  list-style: none;
  margin: 0; padding: 0;
  text-align: center;
}